body {
    background: #111;
}

.photo {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hashtag {
    background: rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    width: 22rem;
    padding: 0.75em;
    bottom: 0;
    left: 50%;
    margin-left: -11rem;
    text-align: center;
    font-size: 2em;
}